.password-item {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid #c3caea;
  border-radius: 5px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-right: 15px;
  margin-bottom: 18px;
  flex-grow: 1;
}
.password-details-container {
  display: flex;
  align-items: center;
}
.user-initial {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 10px;
  background: #f59e0b;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  background-position: center;
}
.password-detailed-info {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 5px;
}
.stars-img {
  width: 100%;
  height: 20px;
}
.delete-btn {
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  outline: none;
}
.delete-icon {
  width: 20px;
}
@media screen and (min-width: 768px) {
  .user-initial {
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 15px;
  }
}
